services:
    zookeeper:
        image: wurstmeister/zookeeper:latest
        ports:
        - "2181:2181"
        networks:
        - kafka-net

    # TODO: Mount volume để tách biệt lưu trữ dữ liệu Kafka giữa các dự án 
    kafka:
        image: wurstmeister/kafka:latest
        ports:
        - "9092:9092"
        environment:
            KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:9093,OUTSIDE://localhost:9092
            KAFKA_LISTENERS: INSIDE://0.0.0.0:9093,OUTSIDE://0.0.0.0:9092
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_CREATE_TOPICS: "test-topic:3:1"
        volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        depends_on:
        - zookeeper
        networks:
        - kafka-net

    kafka-ui:
        image: provectuslabs/kafka-ui:latest
        ports:
        - "8080:8080"
        environment:
            KAFKA_CLUSTERS_0_NAME: local
            KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9093
        depends_on:
        - kafka
        networks:
        - kafka-net

networks:
    kafka-net:
        driver: bridge